.hero {
    max-width: 1600px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: $bgc-secondary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, $bgc-transparent, $bgc-transparent), url("../images/mobile/hero.jpg");

    @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url('../images/mobile/hero@2x.jpg');
    }

    @media screen and (min-width: $tablet) {
        background-image: url("../images/tablet/hero.jpg");
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url('../images/tablet/hero@2x.jpg');
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: url("../images/hero.jpg");
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url('../images/hero@2x.jpg');
        }
    }

}

.hero-title {
    @include font-param (26px, 1.62, 900, 0.06em);
   
    text-transform: uppercase;
    color: $bgc-main;

    margin-bottom: 30px;

    @media screen and (min-width: $desktop){
        @include font-param (44px, 1.36, 900, 0.06em);
    }
}

